<!DOCTYPE HTML>
<html>
<head>
    <title>Book Trips made Easy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>
<body>
    <h1>Booking Trips made Easy</h1>
    <br>
    <h3>A place to book trips, assisted by a chat bot 24 / 7. The future begins now.</h3>
    <br><br>
    <h1>Morbi id ante</h1>
    <br>
    <h3>Sed quam mi, rhoncus ac tellus sed, ornare gravida neque. Orci varius natoque penatibus et magnis dis parturient
        montes.</h3>
    <!-- Chatbot Script -->
    <script src="https://d17ugbx0tljc5i.cloudfront.net/lex-web-ui-loader.min.js"></script>
    <script>
        var loaderOpts = {
            baseUrl: 'https://d17ugbx0tljc5i.cloudfront.net/',
            shouldLoadMinDeps: true
        };
        var loader = new ChatBotUiLoader.IframeLoader(loaderOpts);
        var chatbotUiConfig = {
            /* Example of setting session attributes on parent page
            lex: {
              sessionAttributes: {
                userAgent: navigator.userAgent,
                QNAClientFilter: ''
              }
            }
            */
        };
        loader.load(chatbotUiConfig)
            .catch(function (error) { console.error(error); });
    </script>
</body>
</html>
